/* Unread Messages */
.mentioned-Tre-dv {
    background-color: #105ebd2c;
}

.text-2GsXbW {
    color: cyan;
}

.unread-2wipsx {
    border: 1px solid cyan;
}

.appMount-2yBXZl {
    background: #000;
}