.chatContent-3KubbW {
    background-color: var(--chat-color);
}

.content-tXPNDw {
    color: #00ffff88;
}

.embedTitle-2n1pEb {
    color: #00ffff88;
}

.embedFooterText-2Mc7H9 {
    color: #00ffff88;
}

.embedDescription-1DrJxZ {
    color: #00ffff88;
}