@import url('/modules/embed.css');
@import url('/modules/settings-module.css');
@import url('/modules/user-icons.css');
@import url('/modules/alerts.css');
@import url('/modules/chat.css');
@import url('source.css');

/* v Embed Design v */
.embedWrapper-1MtIDg {
    border-radius: 30px;
}

/* Unread Alert */
.unreadBar-elBRZx {
    background-color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: cyan;
    color: cyan;
}

/* USRBG -> USER PROFILE */

.swatch-3mFIiP {
    min-height: 50px !important;
    border-radius: 4px !important;
}

.root-3QyAh1[style*="-user-"] {
    --USRBG-banner-height: 600px;
}

.root-3QyAh1[style*="-user-"] .profileBanner-33-uE1 {
    width: var(--USRBG-banner-height);
    height: 240px;
    background: var(--user-background) center/cover no-repeat;
}
 
.root-3QyAh1 .header-4zuFdR {
    transform: translateZ(0);
}

.root-3QyAh1 .headerInfo-30uryT {
    position: relative;
    z-index: 1;
}

.username-3JLfHz {
    color: #00ffff88;
}

.nickname-t08Mck {
    color: #00ffff88;
}